---
title: Example Layout
fabricator: true
---

<h1>Example layout</h1>

<p>This page is built with Kanbasu components and image placeholders only. You can <a href="https://github.com/liip/kanbasu/blob/master/src/views/more/example-layout.html">browse the code</a> on Github.</p>

<header class="clearfix box box--small box--primary">
	<div class="pull-left">
		<h1 class="mrg0">Hello!</h1>
	</div>
	<div class="pull-right">
		<ul class="list-inline list-inline--small">
			<li><a href="#" class="btn">Home</a></li>
			<li><a href="#" class="btn">Services</a></li>
			<li><a href="#" class="btn">Help desk</a></li>
			<li><a href="#" class="btn">Solutions</a></li>
			<li><a href="#" class="btn">Contact</a></li>
		</ul>
	</div>
</header>

<div class="masterhead mrgb+ relative-parent">
	<img src="https://placehold.it/1400x250/68528f/?text=&nbsp;" class="img-block">
	<div class="vh-align">
		<h1>Such a masterhead wow</h1>
	</div>
</div>

<div class="grid">
	<div class="grid__item sm-w-3/4">
		<ul class="list-stacked list-stacked--large list-stacked--divided">
			<li>
				<div class="media">
					<div class="media__left">
						<img src="https://placehold.it/160x160" class="media__image">
					</div>
					<div class="media__body">
						<h3 class="mrgt0">Dolores consectetur harum cupiditate fugiat</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ea laudantium, dolorum autem possimus enim eligendi ut, temporibus a adipisci nihil labore similique iste incidunt facere, et aliquam quaerat quia.</p>
						<p class="mrgb0"><a href="#">Read more…</a></p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__left">
						<img src="https://placehold.it/160x160" class="media__image">
					</div>
					<div class="media__body">
						<h3 class="mrgt0">Veniam soluta ex inventore unde</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ea laudantium, dolorum autem possimus enim eligendi ut, temporibus a adipisci nihil labore similique iste incidunt facere, et aliquam quaerat quia.</p>
						<p class="mrgb0"><a href="#">Read more…</a></p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__left">
						<img src="https://placehold.it/160x160" class="media__image">
					</div>
					<div class="media__body">
						<h3 class="mrgt0">Iste architecto cum recusandae eius</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ea laudantium, dolorum autem possimus enim eligendi ut, temporibus a adipisci nihil labore similique iste incidunt facere, et aliquam quaerat quia.</p>
						<p class="mrgb0"><a href="#">Read more…</a></p>
					</div>
				</div>
			</li>
		</ul>

		<div class="mosaic mrgt+ box box--tight box--primary">
			<div class="mosaic__cell mosaic__cell--fit">
				<img src="https://placehold.it/300x300/82bb58">
			</div>
			<div class="mosaic__cell box">
				<h3>Lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facilis officiis quidem vero mollitia reiciendis at eius, facere inventore fugiat eaque dolorum maxime autem quo saepe quos perferendis dolores quaerat.</p>
			</div>
		</div>
	</div>
	<aside class="grid__item sm-w-1/4 xs-mrgt">
		<div class="box box--default">
			<h4>Lorem ipsum dolor sit</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis deleniti illo cum itaque, fugit debitis sint natus magni.</p>
		</div>
		<div class="box box--default mrgt">
			<form>
				<div class="form-group">
					<label for="search" class="field-label">Search</label>
					<input type="search">
				</div>
				<div class="form-group">
					<input type="submit" value="Search" class="btn btn--primary">
				</div>
			</form>
		</div>
	</aside>
</div>

<footer class="box box--default mrgt+">
	<p class="text-small">Copyleft 2015, no rights reserved.</p>
</footer>
