---
title: FAQ
fabricator: true
---

<h1>Frenquently Asked Questions</h1>

<h3>Why some classes are faded in code examples?</h3>
<p>Those classes are required to make the documentation looks great but they are not required in the context of the example.</p>

<h3>Kanbasu class names conflict with other stylesheets</h3>
<p>If you’re introducing Kanbasu in an existing project, it’s recommended to prefix classes with a namespace. To do so, change the <code>$namespace</code> variable in the settings file.</p>
