---
title: Mixins & functions
fabricator: true
---

<h1>Mixins & functions</h1>

<div class="box box--primary box--small mrgb">
  <p><strong>Notice:</strong> most of the mixins and functions use values defined in the settings file by default.
The exact outputed value may differ from the examples below.</p>
</div>

<h2>Mixins</h2>

<h3><strong>foreach-breakpoint</strong>(<span class="text-muted">$breakpoints: $breakpoints-default, $prefix: null</span>)</h3>

<p>Loop through the given breakpoints list. Each iteration get the breakpoint name as <code>$breakpoint-name</code>.
Both parameters are optional.</p>

<pre class="language-scss"><code>@include foreach-breakpoint($breakpoints-default, 'screen and') {
  .#{$breakpoint-name}-text-center {
    text-align: center;
  }
}</code></pre>

<p>Will generate:</p>

<pre class="language-scss"><code>@media screen and (min-width: 40.0625em) {
  .sm-text-center {
    text-align: center;
  }
}

@media screen and (min-width: 48.0625em) {
  .md-text-center {
    text-align: center;
  }
}

@media screen and (min-width: 64.0625em) {
  .lg-text-center {
    text-align: center;
  }
}
</code></pre>


<h3><strong>media</strong>($mq<span class="text-muted">, $breakpoints: $breakpoints-default</span>)</h3>

<p>Shortcut to scope content into a media query by using the breakpoint name as a parameter.</p>

<pre class="language-scss"><code>@include media('md') {
  .foo {
    bar: baz;
  }
}</code></pre>

<p>Will generate:</p>

<pre class="language-scss"><code>@media (min-width: 48.0625em) {
  .foo {
    bar: baz;
  }
}</code></pre>


<h3><strong>clearfix</strong>()</h3>

<p>The famous self-clear technique as a mixin for quick reuse.</p>

<pre class="language-scss"><code>.foo {
  @include clearfix();
}</code></pre>

<p>Will generate:</p>

<pre class="language-scss"><code>.foo {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}</code></pre>



<h2>Functions</h2>

<h3><strong>rem</strong>($value<span class="text-muted">, $base: $base-font-size</span>)</h3>

<p>Calculate the corresponding <code>rem</code> value proportionnaly to the <code>$base-font-size</code> or the
value of your choice when specified as the second parameter.</p>

<pre class="language-scss"><code>font-size: rem(24px);
//-> font-size: 1.5rem;

font-size: rem(30px, 15px);
//-> font-size: 2rem;
</code></pre>


<h3><strong>ratio</strong>($value<span class="text-muted">, $ratio: $ratio</span>)</h3>

<p>Divide the given value by the <code>$ratio</code> rounded down. Useful to create “visually equal” spacings as
mathematically equal spacings never "visually" look equal around text.</p>

<pre class="language-scss"><code>padding: ratio(24px) 24px;
//-> padding: 14px 24px;
</code></pre>


<h3><strong>parseInt</strong>($value)</h3>

<p>Return the value without unit.</p>

<pre class="language-scss"><code>parseInt(10px)
//-> 10
</code></pre>
