<div class="grid grid--multiline grid--even">
  <div class="grid__item sm-w-1/2">
    <div class="pusher pusher--vertical">
      <div class="pusher__body">
        <p class="mrgt0">Voluptatem dolores vero sequi impedit est ullam, et quia similique debitis tenetur.</p>
      </div>
      <button class="btn btn--primary btn--block">Pushed button</button>
    </div>
  </div>
  <div class="grid__item sm-w-1/2">
    <div class="pusher pusher--vertical">
      <div class="pusher__body">
        <p class="mrgt0">Veritatis quibusdam quam laborum et amet distinctio ullam quisquam quia in voluptatum placeat commodi porro sapiente molestiae, numquam, sed eligendi ipsum illum incidunt voluptas vero vitae?</p>
      </div>
      <button class="btn btn--primary btn--block">Pushed button</button>
    </div>
  </div>
</div>
