/*----------------------------------------*\
  ALIGN
\*----------------------------------------*/

.align-left {
  margin-right: auto;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  margin-left: auto;
}
