/*----------------------------------------*\
  ALIGN RESPONSIVE
\*----------------------------------------*/

@include foreach-breakpoint() {
  .#{$breakpoint-name}-align-left {
    margin-left: 0;
    margin-right: auto;
  }

  .#{$breakpoint-name}-align-center {
    margin-left: auto;
    margin-right: auto;
  }

  .#{$breakpoint-name}-align-right {
    margin-left: auto;
    margin-right: 0;
  }
}
