/src/assets/fabricator
/src/assets/fabricator
/src/data
/src/docs
/src/materials
/src/templates
/src/views
/src/favicon.ico
/test
/.publish
/.travis.yml
/CNAME
/deploy.sh
/kanbasu.sublime-project
/kanbasu.sublime-workspace
