/*----------------------------------------*\
  PUSHER
\*----------------------------------------*/

.pusher {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

  .pusher__body {
    max-width: 100%;
    flex: 1 0 auto;
    margin-right: $spacing-unit-small;
  }

.pusher--middle {
  align-items: center;
}

.pusher--bottom {
  align-items: flex-end;
}

.pusher--vertical {
  flex-direction: column;

  .pusher__body {
    width: 100%;
    margin-right: 0;
  }
}
