<dl>
  <dt>Lorem</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
  <dt>Ipsum</dt>
  <dd>A ab minima, deleniti sint quibusdam incidunt obcaecati animi</dd>
  <dt>Dolor</dt>
  <dd>Nulla doloremque accusantium minus molestiae ipsa dicta</dd>
</dl>

<dl class="dl--inline">
  <dt>Lorem</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
  <dt>Ipsum</dt>
  <dd>A ab minima, deleniti sint quibusdam incidunt obcaecati animi</dd>
  <dt>Dolor</dt>
  <dd>Nulla doloremque accusantium minus molestiae ipsa dicta</dd>
</dl>
