<form>
  <div class="form-group grid">
    <label for="email" class="field-label grid__item sm-w-1/5">Email</label>
    <div class="grid__item sm-w-4/5">
      <input type="email" name="email" class="field">
    </div>
  </div>
  <div class="form-group grid">
    <label for="password" class="field-label grid__item sm-w-1/5">Password</label>
    <div class="grid__item sm-w-4/5">
      <input type="password" name="password" class="field">
      <p class="field-help">
        A least 8 characters.
      </p>
    </div>
  </div>
  <div class="form-group grid grid--right">
    <div class="grid__item sm-w-4/5">
      <label class="label label--inline"><input type="checkbox" class="checkbox"> Remember me</label>
    </div>
  </div>
  <div class="form-group grid grid--right">
    <div class="grid__item sm-w-4/5">
      <button type="submit" class="btn btn--primary">Log in</button>
    </div>
  </div>
</form>
