/*----------------------------------------*\
  BOX
\*----------------------------------------*/

.#{$namespace}box,
%box {
  padding: $spacing-unit-default;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  a:not([class]) {
    color: inherit;
  }
}


/**
 * Spacings
 */

.#{$namespace}box--tight,
%box--tight {
  padding: 0;
}

.#{$namespace}box--tiny,
%box--tiny {
  padding: $spacing-unit-tiny;
}

.#{$namespace}box--small,
%box--small {
  padding: $spacing-unit-small;
}

.#{$namespace}box--large,
%box--large {
  padding: $spacing-unit-large;
}

.#{$namespace}box--huge,
%box--huge {
  padding: $spacing-unit-huge;
}


/**
 * Styles
 */

.#{$namespace}box--default,
%box--default {
  color: $box-default-color;

  background-color: $box-default-bkg-color;
}

.#{$namespace}box--primary,
%box--primary {
  color: $box-primary-color;

  background-color: $box-primary-bkg-color;
}
