/*----------------------------------------*\
  GRID
  Modern grid using flexbox
\*----------------------------------------*/

@if ($grid-flex == true) {

  .#{$namespace}grid,
  %grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$spacing-unit-default;
  }

    .#{$namespace}grid__item,
    %grid__item {
      width: 100%;
      flex: 0 0 auto;
      padding-left: $spacing-unit-default;
    }


  /**
   * Alignment
   */

  .#{$namespace}grid--center,
  %grid--center {
    justify-content: center;
  }

  .#{$namespace}grid--right,
  %grid--right {
    justify-content: flex-end;
  }

  .#{$namespace}grid--middle,
  %grid--middle {
    align-items: center;
  }

  .#{$namespace}grid--bottom,
  %grid--bottom {
    align-items: flex-end;
  }


  /**
   * Order
   */

  .#{$namespace}grid--rev,
  %grid--rev {
    flex-direction: row-reverse;
  }

}


/*----------------------------------------*\
  Legacy grid using inline-block
\*----------------------------------------*/

@else {

  .#{$namespace}grid,
  %grid {
    display: block;
    margin-left: -$spacing-unit-default;

    // Remove extra-space between items due to inline block
    font-size: 0;
  }

    .#{$namespace}grid__item,
    %grid__item {
      display: inline-block;
      width: 100%;
      padding-left: $spacing-unit-default;

      // Reset font size to default (see comment above)
      font-size: $font-size-default;
      vertical-align: top;
    }


  /**
   * Alignment
   */

  .#{$namespace}grid--center,
  %grid--center {
    text-align: center;

    > .#{$namespace}grid__item {
      text-align: left;
    }
  }

  .#{$namespace}grid--right,
  %grid--right {
    text-align: right;

    > .#{$namespace}grid__item {
      text-align: left;
    }
  }

  .#{$namespace}grid--middle,
  %grid--middle {
    > .#{$namespace}grid__item {
      vertical-align: middle;
    }
  }

  .#{$namespace}grid--bottom,
  %grid--bottom {
    > .#{$namespace}grid__item {
      vertical-align: bottom;
    }
  }


  /**
   * Order
   */

  .#{$namespace}grid--rev,
  %grid--rev {
    direction: rtl;
    text-align: left;

    > .#{$namespace}grid__item {
      direction: ltr;
      text-align: left;
    }
  }

}


/*----------------------------------------*\
  Same for both old and new Grid
\*----------------------------------------*/

/**
 * Gutters size
 */

@include foreach-alternative-spacing() {
  .#{$namespace}grid--#{$spacing-name},
  %grid--#{$spacing-name} {
    margin-left: -#{$spacing-value};

    > .#{$namespace}grid__item {
      padding-left: $spacing-value;
    }
  }
}


/**
 * Add spacing between rows
 */

.#{$namespace}grid--multiline,
%grid--multiline {
  margin-top: -$spacing-unit-default;

  > .grid__item {
    padding-top: $spacing-unit-default;
  }

  @include foreach-alternative-spacing() {
    &.grid--#{$spacing-name} {
      margin-top: -#{$spacing-value};

      > .grid__item {
        padding-top: $spacing-value;
      }
    }
  }
}
