/*----------------------------------------*\
  LIST STACKED
\*----------------------------------------*/

.#{$namespace}list-inline,
%list-inline {
  @extend %list;

  > li {
    display: inline-block;
    padding: 0 $spacing-unit-default/2;

    vertical-align: middle;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

  // Add separators
  .#{$namespace}list-inline--divided,
  %list-inline--divided {
    > li + li {
      border-left: $list-separator-style;
    }
  }

  /**
   * Sizes
   */

  @include foreach-alternative-spacing() {
    .#{$namespace}list-inline--#{$spacing-name},
    %list-inline--#{$spacing-name} {
      > li {
        padding-left: $spacing-value / 2;
        padding-right: $spacing-value / 2;
      }
    }
  }
