/*----------------------------------------*\
  MEDIA RESPONSIVE
\*----------------------------------------*/

@media (max-width: $media-collapse) {
  .#{$namespace}media--responsive {
    .#{$namespace}media__left,
    .#{$namespace}media__right {
      float: none;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: $spacing-unit-default;
      width: 100%;
    }

    .#{$namespace}media__image {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}
