/*----------------------------------------*\
  MOSAIC
\*----------------------------------------*/

.#{$namespace}mosaic {
  display: table;
  width: 100%;
}

// Equal width for all cells
.#{$namespace}mosaic--fixed {
  table-layout: fixed;
}

  .#{$namespace}mosaic__row {
    display: table-row;
  }

  .#{$namespace}mosaic__cell {
    display: table-cell;
    vertical-align: middle;

    .mosaic--top & {
      vertical-align: top;
    }

    .mosaic--bottom & {
      vertical-align: bottom;
    }
  }

    // Make the cell fit its content
    .#{$namespace}mosaic__cell--fit {
      width: 1px;
      white-space: nowrap;
    }
