---
title: カンバス Kanbasu CSS Framework
fabricator: true
---

<h1>カンバス Kanbasu</h1>

<p class="text-large">Kanbasu is a CSS framework with very basic styling. It can be used as a base for any web project or for prototyping. It will provide you all the basics and common patterns used to display content on the web today.</p>

<p>On the technical side, Kanbasu is written in <a href="http://sass-lang.com/">Sass</a> and obviously based on the principles of <a href="http://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/">OOCSS</a>. The components are named following the <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM</a> <del>methodology</del> syntax.</p>

<p>CSS features used are working in all major browsers. The oldest Internet Explorer version supported is 9. The framework does not include vendor-prefixed properties. If you build it by yourself, we recommend you to use <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a> to add them.</p>

<p>This project is inspired by awesome coders who share and keep sharing their work. <a href="http://csswizardry.com/">Harry Roberts</a> deserve a special thanks for his framework <a href="https://github.com/inuitcss">Inuit.css</a>. <a href="http://www.stubbornella.org/">Nicole Sullivan</a> for all her work related to OOCSS. <a href="http://markdotto.com/">Mark Otto</a> and <a href="http://byfat.xxx/">Jacob Thornton</a> for <a href="http://getbootstrap.com/">Bootstrap</a>.</p>

<p><a href="https://github.com/liip/kanbasu">The code</a> is hosted on GitHub.</p>

<h2>How to use</h2>

<h3>Install</h3>

<p><strong>With NPM</strong></p>

<pre>$ npm install --save-dev kanbasu</pre>

<p><strong>As a Git submodule</strong></p>

<pre>$ git submodule add git@github.com:liip/kanbasu.git</pre>

<p>Or simply <a href="https://github.com/liip/kanbasu/archive/master.zip">download the zip</a>.</p>

<h3>Setup</h3>

<p>It’s recommended to copy the framework main file to your project to customize it as you wish. You’ll have to change all "import" paths to match the framwork location then.</p>

<pre>$ cp node_modules/kanbasu/src/assets/scss/kanbasu.scss destination/kanbasu.scss</pre>

<p>It’s also recommended to duplicated the settings file to have a quick access to all the variables and adapt them to your needs.</p>

<pre>$ cp node_modules/kanbasu/src/assets/scss/settings/_settings.scss destination/settings/_kanbasu.scss</pre>

<p>You should then import it in your main Sass file, <strong>before</strong> other Kanbasu files, to overrides the framework default settings. Learn more about <a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_">Sass default variables</a>.</p>

<h2>Report issues</h2>

<p>Feel free to report any bug or suggestion through Github’s <a href="https://github.com/liip/kanbasu/issues">issues tracker</a>.</p>

<h2>Contribute</h2>

<p>You are welcome to fork and request merge for whatever you think can improve the framework.</p>
<p>Kanbasu is built using Fabricator. As soon as you have Node.js >= 0.10 installed, you just need to run:</p>
<pre>
$ npm start
</pre>
<p>The complete guide is available in <a href="http://fbrctr.github.io/docs/">Fabricator documentation</a>.</p>
<p>Guidelines are simple; keep the code <abbr title="Don’t repeat yourself">DRY</abbr>, follow the <code>.editorconfig</code> and <a href="http://benoitburgener.ch/blog/organize-your-css-declarations/">organize declarations</a>.</p>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<h2>About</h2>

<p>Kanbasu is proudly made at <a href="http://liip.ch">Liip</a>.</p>
