/*----------------------------------------*\
  FUNCTIONS
\*----------------------------------------*/


/**
 * Calculate REM value based on the default font-size
 */

@function rem($value, $base: $font-size-default) {
  @return ($value / $base) * 1rem;
}


/**
 * Return a value divided by a ratio
 * It uses the golden ratio by default
 *
 * Useful to create "visually equal" spacings
 * As perfectly equal spacings never "visually" look equal when close to text
 */

@function ratio($value, $ratio: $ratio) {
  @return floor($value/$ratio);
}

/**
 * Return a unitless value
 */
@function parseInt($value) {
  @return $value / ($value * 0 + 1);
}
