// $font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont,
                         "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                         "Fira Sans", "Droid Sans", "Helvetica Neue";

$color-link: #BE3144;
$color-text: #46515e;
$color-heading: #303841;

// $color-background: #fff;
$color-background-offset: #f7f8f9;

// $color-ui-hover: rgba($color-text, 0.05);
// $color-ui-active: rgba($color-text, 0.075);

$color-header-background: #BE3144;
// $color-header-content: #fff;

// $color-frame-border: rgba($color-text, 0.25);

$color-sidebar-heading: white;

$width-sidebar: 240px;
$handle-size: 0.625rem;

$mq-breakpoints: (
  navCollapse: 500px,
  small: 450px,
  medium: 600px,
  large: 800px
);
