<table class="table-responsive">
  <caption>List of songs introduced by Fred Astaire, courtesy of Wikipedia</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Co-singer(s)</th>
      <th>Composer</th>
      <th>Lyricist</th>
      <th>Film</th>
      <th>Stage Musical</th>
      <th>Date of First Commercial Recording</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A Couple of Swells</td>
      <td>1948</td>
      <td>Judy Garland</td>
      <td>Irving Berlin</td>
      <td>Irving Berlin</td>
      <td><i>Easter Parade</i></td>
      <td></td>
      <td>1948, MGM 30186 (soundtrack)</td>
    </tr>
    <tr>
      <td>A Fine Romance</td>
      <td>1936</td>
      <td>Ginger Rogers</td>
      <td>Jerome Kern</td>
      <td>Dorothy Fields</td>
      <td><i>Swing Time</i></td>
      <td></td>
      <td>Los Angeles, July 28, 1936, Brunswick 7716</td>
    </tr>
    <tr>
      <td>A Foggy Day</td>
      <td>1937</td>
      <td></td>
      <td>George Gershwin</td>
      <td>Ira Gershwin</td>
      <td><i>A Damsel in Distress</i></td>
      <td></td>
      <td>Los Angeles, October 17/19, 1937, Brunswick 7982</td>
    </tr>
    <tr>
      <td>A Lot in Common With You</td>
      <td>1942</td>
      <td>Joan Leslie</td>
      <td>Harold Arlen</td>
      <td>Johnny Mercer</td>
      <td><i>The Sky's the Limit</i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>A Needle in a Haystack</td>
      <td>1934</td>
      <td></td>
      <td>Con Conrad</td>
      <td>Herb Magidson</td>
      <td><i>The Gay Divorcee</i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>All to Myself</td>
      <td>1922</td>
      <td>Adele Astaire</td>
      <td>George Gershwin</td>
      <td>Arthur Francis aka Ira Gershwin</td>
      <td></td>
      <td><i>For Goodness Sake</i></td>
      <td></td>
    </tr>
    <tr>
      <td>After You, Who?</td>
      <td>1932</td>
      <td></td>
      <td>Cole Porter</td>
      <td>Cole Porter</td>
      <td></td>
      <td><i>Gay Divorce</i></td>
      <td>1932, EC 1215</td>
    </tr>
    <tr>
      <td>Anyway, We've Had Fun</td>
      <td>1930</td>
      <td>Marilyn Miller</td>
      <td>Vincent Youmans</td>
      <td>Ring Lardner</td>
      <td></td>
      <td><i>Smiles</i></td>
      <td></td>
    </tr>
    <tr>
      <td>Baby Doll</td>
      <td>1952</td>
      <td></td>
      <td>Harry Warren</td>
      <td>Johnny Mercer</td>
      <td><i>The Belle of New York</i></td>
      <td></td>
      <td>1952, MGM 30517 (soundtrack)</td>
    </tr>
    <tr>
      <td>Be Good to Me</td>
      <td>1930</td>
      <td>Adele Astaire</td>
      <td>Vincent Youmans</td>
      <td>Ring Lardner</td>
      <td></td>
      <td><i>Smiles</i></td>
      <td></td>
    </tr>
    <tr>
      <td>Bojangles of Harlem</td>
      <td>1936</td>
      <td></td>
      <td>Jerome Kern</td>
      <td>Dorothy Fields</td>
      <td><i>Swing Time</i></td>
      <td></td>
      <td>Los Angeles, July 26, 1936, Brunswick 7718</td>
    </tr>
  </tbody>
</table>
