<div class="container">
  <ul class="list-stacked list-stacked--huge list-stacked--divided">
    <li>
      <article class="media media--responsive">
        <div class="media__left">
          <img src="https://placehold.it/200x200">
        </div>
        <div class="media__body">
          <h2 class="mrgt0 mrgb--">Quidem ab laboriosam architecto maxime sint omnis!</h2>
          <p class="mrgt0 text-muted">24 Aug. 2017</p>
          <p class="mrgb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, voluptates minima! Repudiandae, error quibusdam rerum architecto eligendi laboriosam magnam qui corporis, nam ipsa quas exercitationem doloremque itaque, fuga tenetur minus aliquam assumenda reiciendis? Ex veritatis provident labore officiis assumenda temporibus unde non suscipit dolorem tenetur. Natus magnam sint accusantium! Quas.</p>
        </div>
      </article>
    </li>
    <li>
      <article class="media media--responsive">
        <div class="media__left">
          <img src="https://placehold.it/200x200">
        </div>
        <div class="media__body">
          <h2 class="mrgt0 mrgb--">Praesentium delectus repellendus obcaecati, facilis necessitatibus reprehenderit.</h2>
          <p class="mrgt0 text-muted">17 Jun. 2017</p>
          <p class="mrgb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis labore, illum. Possimus totam accusamus voluptas, tempore voluptates labore culpa sit animi facilis, asperiores consequatur iusto dignissimos quia porro molestias, esse voluptatum quaerat eaque ea. Magnam ipsa, ad autem vel, quod voluptas consequuntur ut sint enim minima reiciendis, beatae dolorem eaque.</p>
        </div>
      </article>
    </li>
    <li>
      <article class="media media--responsive">
        <div class="media__left">
          <img src="https://placehold.it/200x200">
        </div>
        <div class="media__body">
          <h2 class="mrgt0 mrgb--">Dolorum ratione minus ipsam amet at facere?</h2>
          <p class="mrgt0 text-muted">2 Jan. 2017</p>
          <p class="mrgb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus accusantium excepturi, reprehenderit perferendis voluptatem deleniti? Obcaecati repellat vitae rem cum fugit? Voluptate iste, perspiciatis? Maiores provident reiciendis architecto quo minus temporibus amet, ad aut ipsa facere sapiente molestiae sint, consequatur quasi inventore commodi eum similique repudiandae? Praesentium delectus, cumque iusto?</p>
        </div>
      </article>
    </li>
  </ul>
</div>
