<div class="container">
  <div class="grid grid--center grid--even grid--multiline text-center">
    <div class="grid__item sm-w-1/2 lg-w-1/3">
      <div class="box box--default pusher pusher--vertical">
        <div class="pusher__body mrgb">
          <h2 class="mrgt0 mrgb">Sed fugiat autem</h2>
          <ul class="list-stacked list-stacked--small list-stacked--divided">
            <li>Sit nulla nemo sapiente.</li>
            <li>Amet iusto ipsum praesentium!</li>
            <li>Possimus quae, illo quaerat?</li>
            <li>Error rem, amet id.</li>
          </ul>
        </div>
        <a href="#" class="btn btn--primary btn--block">Pick me!</a>
      </div>
    </div>
    <div class="grid__item sm-w-1/2 lg-w-1/3">
      <div class="box box--primary pusher pusher--vertical">
        <div class="pusher__body mrgb">
          <h2 class="mrgt0 mrgb">Tempora quae facilis</h2>
          <ul class="list-stacked list-stacked--small list-stacked--divided">
            <li>Neque delectus voluptatibus maxime!</li>
            <li>Assumenda error maxime reiciendis.</li>
            <li>Animi architecto neque minus.</li>
            <li>Suscipit, laudantium vero consequuntur?</li>
            <li>Sed ipsam reiciendis perspiciatis.</li>
            <li>Qui, ab neque enim.</li>
          </ul>
        </div>
        <a href="#" class="btn btn--default btn--block">Pick me!</a>
      </div>
    </div>
    <div class="grid__item sm-w-1/2 lg-w-1/3">
      <div class="box box--default pusher pusher--vertical">
        <div class="pusher__body mrgb">
          <h2 class="mrgt0 mrgb">Delectus incidunt</h2>
          <ul class="list-stacked list-stacked--small list-stacked--divided">
            <li>Quaerat cum temporibus, commodi?</li>
            <li>Reprehenderit exercitationem in quae.</li>
            <li>Placeat quaerat temporibus consequuntur!</li>
            <li>Voluptatem minus, praesentium amet.</li>
            <li>Quod, voluptatum! Dolores, a!</li>
          </ul>
        </div>
        <a href="#" class="btn btn--primary btn--block">Pick me!</a>
      </div>
    </div>
  </div>
</div>
