<div class="media{{#if modifier}} {{ modifier }}{{/if}}">
  <div class="media__left">
    <img src="https://placehold.it/200x200">
  </div>
  <div class="media__body">
    <p class="mrgt0">Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.</p>
    <p>Atque voluptatum quod ducimus, cupiditate, architecto pariatur sunt consequatur, voluptate reprehenderit deleniti tenetur reiciendis? Eum distinctio deleniti dicta ex cum ipsa optio accusamus adipisci atque voluptas dignissimos, ipsam quia! Dolorum, incidunt necessitatibus consequuntur quaerat culpa aliquid, doloremque eos! Magnam accusamus repellat modi.</p>
    <p class="mrgb0">Eius provident dicta temporibus placeat excepturi ex, iure sint quam laborum, eligendi. Eos vero obcaecati atque eligendi in, tempore exercitationem rem minus saepe ea facilis fuga ipsum alias quia officia nisi molestias nulla eum, expedita quasi laborum, reiciendis voluptates. Dolor praesentium, aliquam.</p>
  </div>
</div>