.token {

  &.function {
    color: darken(#6297CF,10%);
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: darken(#64737F,10%);
  }

  &.string,
  &.atrule,
  &.attr-value {
    color: darken(#95C991,15%);
  }

  &.property,
  &.tag,
  &.variable {
    color: darken(#F15F68,3%);
  }

  &.boolean,
  &.number {
    color: darken(#FE924D,10%);
  }

  &.selector,
  &.attr-name,
  &.keyword,
  &.regex,
  &.important,
  &.operator,
  &.entity,
  &.url {
    color: darken(#BE7EAC,10%);
  }

  &.punctuation {
    color: darken(#56B3B4,10%)
  }

}

.namespace {
  opacity: 0.7;
}
