/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */

// color vars
$code-colors: (
  blue: #466C95,
  teal: #3FC1C9,
  black: #333,
  purple: #EC7263,
  maroon: #E23E57,
  green: #5DAE8B,
  light-gray: #f7f7f7,
  dark-gray: #969896
);

// token colors
.token {

  &.function {
    color: #4B89AC;
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: map-get($code-colors, dark-gray);
  }

  &.string,
  &.atrule,
  &.attr-value {
    color: map-get($code-colors, blue);
  }

  &.property,
  &.tag,
  &.variable {
    color: map-get($code-colors, green);
  }

  &.boolean,
  &.number {
    color: map-get($code-colors, teal);
  }

  &.selector,
  &.attr-name,
  &.attr-value .punctuation:first-child,
  &.keyword,
  &.regex,
  &.important {
    color: map-get($code-colors, maroon);
  }

  &.operator,
  &.entity,
  &.url,
  .language-css &.string {
    color: map-get($code-colors, purple);
  }

  &.entity {
    cursor: help;
  }

}

.namespace {
  opacity: 0.7;
}
