.f-item-group {
  @include clearfix;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid map-get($colors, light);

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  & ~ & {
    margin-top: 0;
  }

  & > & {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.f-item-code {
  margin-top: -5px;

  position: relative;
  z-index: 1;

  background: #eaeaea;
  border: 1px solid darken(#eaeaea, 5%);
  border-radius: 3px;

  pre,
  code {
    margin: 0;
    background-color: #eaeaea;
  }
}

.f-item-preview {
  @include clearfix;

  padding: 1.5rem;
  margin: 0 -1.5rem;

  position: relative;
  z-index: 2;

  font-size: 0.875rem;

  background-color: white;
  border: 1px solid #eaeaea;
  border-bottom-color: darken(#eaeaea, 5%);
  border-radius: 3px;
}

.f-item-border-bottom {
  border-bottom: 1px solid map-get($colors, light);
}

.f-item-heading-group {
  @include clearfix;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.f-item-heading {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}


.f-item-controls {
  margin-top: 0.5rem;

  .f-control {
    vertical-align: baseline;

    font-size: 0.75rem;
    color: map-get($colors, medium);

    svg {
      vertical-align: text-bottom;
      margin-right: 0.25rem;
    }

    use {
      fill: map-get($colors, medium);
    }

    &:hover {
      color: map-get($colors, dark);

      use {
        fill: map-get($colors, dark);
      }
    }
  }
}

.f-item-hidden {
  display: none;
}

.f-item-notes {
}
