html {
  height: 100%;

  &.f-menu-active {
    overflow: hidden;

    @media (min-width: 60em) {
      overflow: auto;
    }
  }
}

body {
  margin: 0;
  position: relative;
  background-color: #fcfcfc;

  .f-menu-active & {
    width:100%;
    height: 100%;
    overflow: hidden;

    @media (min-width: 60em) {
      overflow: auto;
    }
  }
}

.f-container {
  @include clearfix;
  @include border-box;
  position: relative;
  padding: 0 2em;
  z-index: 0;
  min-height: 100vh;

  .f-menu-active & {
    transform: translate($menu-width, 0);

    @media (min-width: 60em) {
      margin-left: $menu-width;
      transform: translate(0, 0);
    }
  }
}

.f-content {
  max-width: 55rem;
  margin: 0 auto;
}


.f-search-materials {
  float: right;
  width: 300px;
  max-width: 80%;
  margin-top: 10px;
}

.logo {
  max-width: 80%;
  height: auto;
}
