html {
  height: 100%;

  @media (max-width: 60em) {
    &.f-menu-active {
      overflow: hidden;
    }
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  position: relative;

  background-color: #fcfcfc;
}

.f-container {
  @include clearfix;
  @include border-box;
  position: relative;
  padding: 0 2em 4em;
  z-index: 0;
  min-height: 100vh;

  .f-menu-active & {
    transform: translate($menu-width, 0);

    @media (min-width: 60em) {
      margin-left: $menu-width;
      transform: translate(0, 0);
    }
  }
}

.f-content {
  max-width: 55rem;
  margin: 0 auto;
}

.f-search-materials {
  float: right;
  width: 300px;
  max-width: 80%;
  margin-top: 10px;

  input[type="search"] {
    font-size: 0.875rem;
  }
}

.logo {
  max-width: 80%;
  height: auto;
}
