<div class="grid grid--multiline">
  <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    <div class="box box--default box--tiny text-center">&nbsp;</div>
  </div>
  <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    <div class="box box--default box--tiny text-center">&nbsp;</div>
  </div>
  <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    <div class="box box--default box--tiny text-center">&nbsp;</div>
  </div>
  <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    <div class="box box--default box--tiny text-center">&nbsp;</div>
  </div>
  <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    <div class="box box--default box--tiny text-center">&nbsp;</div>
  </div>
  <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    <div class="box box--default box--tiny text-center">&nbsp;</div>
  </div>
</div>
