/*----------------------------------------*\
  GLOBAL SETTINGS

  Check the following page for details:
  kanbasu.liip.ch/settings.html
\*----------------------------------------*/

// Use this setting to prefix all the components classes
$namespace:                         '' !default;


/**
 * Colors
 */

$brand-color:                       #BE3144 !default;
$alt-color-lighter:                 #e8ebee !default;
$alt-color-light:                   #adb7c3 !default;
$alt-color:                         #738497 !default;
$alt-color-dark:                    #46515e !default;
$alt-color-darker:                  #303841 !default;


/**
 * Typography
 */

$font-family-default:               -apple-system, BlinkMacSystemFont,
                                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                                    sans-serif !default;

$font-size-default:                 16px !default;
$font-size-small:                   0.75rem !default;
$font-size-large:                   1.5rem !default;

$line-height-default:               1.45 !default;

$text-color:                        $alt-color-darker !default;
$link-color:                        $brand-color !default;
$muted-color:                       transparentize($text-color,.4) !default;


/**
 * Spacings
 */

$ratio:                             1.61803398875 !default;

$spacing-unit-default:              24px !default;
$spacing-unit-tiny:                 floor($spacing-unit-default / ($ratio * 2)) !default;
$spacing-unit-small:                floor($spacing-unit-default / $ratio) !default;
$spacing-unit-large:                floor($spacing-unit-default * $ratio) !default;
$spacing-unit-huge:                 floor($spacing-unit-default * ($ratio * 2)) !default;

$spacings:                          (
                                      'tight' 0,
                                      'tiny' $spacing-unit-tiny,
                                      'small' $spacing-unit-small,
                                      'large' $spacing-unit-large,
                                      'huge' $spacing-unit-huge
                                    ) !default;


/**
 * Responsiveness
 */

// Use EM media-queries for better browser consistency
// See http://zellwk.com/blog/media-query-units
$screen-xs-max:                     640px  / 16px * 1em !default;
$screen-sm-min:                     641px  / 16px * 1em !default;
$screen-sm-max:                     768px  / 16px * 1em !default;
$screen-md-min:                     769px  / 16px * 1em !default;
$screen-md-max:                     1024px / 16px * 1em !default;
$screen-lg-min:                     1025px / 16px * 1em !default;

$breakpoints-default:               (
                                      'sm' '(min-width: #{$screen-sm-min})',
                                      'md' '(min-width: #{$screen-md-min})',
                                      'lg' '(min-width: #{$screen-lg-min})'
                                    ) !default;
$breakpoints-desc:                  (
                                      'xs' '(max-width: #{$screen-xs-max})',
                                      'sm' '(max-width: #{$screen-sm-max})',
                                      'md' '(max-width: #{$screen-md-max})'
                                    ) !default;


/**
 * Miscellaneous
 */

$border-radius-default:             4px !default;
$border-radius-small:               2px !default;
$border-radius-large:               6px !default;


/*----------------------------------------*\
  COMPONENTS
\*----------------------------------------*/

/**
 * Buttons
 */

$btn-padding:                       $spacing-unit-small/$ratio $spacing-unit-small !default;
$btn-color:                         inherit !default;
$btn-font-size:                     inherit !default;
$btn-font-family:                   inherit !default;
$btn-border:                        1px solid transparent !default;
$btn-bkg:                           transparent !default;
$btn-border-radius:                 $border-radius-default !default;

$btn-small-padding:                 $spacing-unit-tiny/$ratio $spacing-unit-tiny !default;
$btn-small-font-size:               $font-size-small !default;
$btn-small-border:                  $btn-border !default;
$btn-small-border-radius:           $border-radius-small !default;

$btn-large-padding:                 $spacing-unit-default/$ratio $spacing-unit-default !default;
$btn-large-font-size:               $font-size-large !default;
$btn-large-border:                  $btn-border !default;
$btn-large-border-radius:           $border-radius-large !default;

$btn-default-color:                 $text-color !default;
$btn-default-bkg-color:             $alt-color-lighter !default;
$btn-default-hover-bkg-color:       lighten($btn-default-bkg-color, 3%) !default;
$btn-default-active-bkg-color:      darken($btn-default-bkg-color, 5%) !default;

$btn-primary-color:                 white !default;
$btn-primary-bkg-color:             $brand-color !default;
$btn-primary-hover-bkg-color:       lighten($btn-primary-bkg-color, 8%) !default;
$btn-primary-active-bkg-color:      darken($btn-primary-bkg-color, 5%) !default;


/**
 * Forms
 */

$field-padding:                     $spacing-unit-small/$ratio $spacing-unit-small !default;

$field-color:                       inherit !default;
$field-font-size:                   inherit !default;
$field-font-family:                 inherit !default;
$field-line-height:                 $line-height-default !default;

$field-bkg-color:                   white !default;
$field-border:                      1px solid $alt-color-light !default;
$field-focus-border-color:          $alt-color-darker !default;
$field-border-radius:               $border-radius-default !default;

$field-disabled-bkg-color:          $alt-color-lighter !default;
$field-disabled-color:              $alt-color !default;

$field-small-padding:               $spacing-unit-tiny/$ratio $spacing-unit-tiny !default;
$field-small-font-size:             $font-size-small !default;
$field-small-border:                $field-border !default;
$field-small-border-radius:         $border-radius-small !default;

$field-large-padding:               $spacing-unit-default/$ratio $spacing-unit-default !default;
$field-large-font-size:             $font-size-large !default;
$field-large-border:                $field-border !default;
$field-large-border-radius:         $border-radius-large !default;

$field-help-color:                  $alt-color-light !default;


/**
 * Lists
 */

$list-separator-style:              1px solid $alt-color-lighter !default;


/**
 * Box
 */

$box-default-color:                 inherit !default;
$box-default-bkg-color:             $alt-color-lighter !default;

$box-primary-color:                 white !default;
$box-primary-bkg-color:             $brand-color !default;


/**
 * Widths
 */

$widths-columns:                    6,5,4,3,2,1 !default;
$widths-breakpoints:                $breakpoints-default !default;


/**
 * Media responsive
 */

$media-collapse:                    $screen-sm-max !default;
