<div class="hidden">Hidden</div>
<div class="hidden-print">Hidden when printed</div>
<div class="invisible">Invisible</div>
<div class="invisible-print">Invisible when printed</div>
<div class="visible-print">Visible only when printed</div>
<div class="visible-sr">Visible only to screen readers</div>
<div class="hidden-sm-up">Hidden on small screens and above</div>
<div class="hidden-md-up">Hidden on medium screens and above</div>
<div class="hidden-lg-up">Hidden on large screens and above</div>
<div class="hidden-xs-down">Hidden on extra-small screens</div>
<div class="hidden-sm-down">Hidden on small screens and under</div>
<div class="hidden-md-down">Hidden on medium screens and under</div>
<div class="hidden-print">Hidden when printed</div>
