<div class="pdg box box--tight box--default">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Tempore fuga delectus debitis asperiores distinctio saepe itaque aut,
  temporibus veritatis rerum odit exercitationem facilis, impedit amet,
  molestiae necessitatibus natus. Distinctio, nam.
</div>
<div class="mrg- box box--tight box--default">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Tempore fuga delectus debitis asperiores distinctio saepe itaque aut,
  temporibus veritatis rerum odit exercitationem facilis, impedit amet,
  molestiae necessitatibus natus. Distinctio, nam.
</div>
<div class="pdgv- pdgh+ mrgt+ mrgb- box box--tight box--default">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Tempore fuga delectus debitis asperiores distinctio saepe itaque aut,
  temporibus veritatis rerum odit exercitationem facilis, impedit amet,
  molestiae necessitatibus natus. Distinctio, nam.
</div>
<div class="pdg md-pdg- mrgh box box--tight box--default">
  <strong>Responsive</strong>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Tempore fuga delectus debitis asperiores distinctio saepe itaque aut,
  temporibus veritatis rerum odit exercitationem facilis, impedit amet,
  molestiae necessitatibus natus. Distinctio, nam.
</div>
<div class="mrgv lg-mrgv- box box--tight box--default">
  <strong>Responsive</strong>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Tempore fuga delectus debitis asperiores distinctio saepe itaque aut,
  temporibus veritatis rerum odit exercitationem facilis, impedit amet,
  molestiae necessitatibus natus. Distinctio, nam.
</div>
