<p class="text-left">Text aligned on the left</p>
<p class="text-center">Text aligned in the middle</p>
<p class="text-right">Text aligned on the right</p>

<p class="md-text-center">Text aligned on the center for medium screens and above</p>
<p class="lg-text-right">Text aligned on the right for large screens only</p>

<p class="text-uppercase">Uppercased text</p>
<p class="text-capitalize">capitalized text</p>

<p class="text-italic">Italic text</p>
<p class="text-bold">Bold text</p>

<p class="text-small">Small text</p>
<p class="text-large">Large text</p>

<p class="text-muted">Text muted</p>

<p class="text-nowrap">Text always displayed on a single line</p>
<p class="text-wrap">Force wrapping words when they can’t fit their container, like a very long url: <a href="https://en.wikipedia.org/wiki/Lopadotemachoselachogaleokranioleipsanodrimhypotrimmatosilphioparaomelitokatakechymenokichlepikossyphophattoperisteralektryonoptekephalliokigklopeleiolagoiosiraiobaphetraganopterygon">https://en.wikipedia.org/wiki/Lopadotemachoselachogaleokranioleipsanodrimhypotrimmatosilphioparaomelitokatakechymenokichlepikossyphophattoperisteralektryonoptekephalliokigklopeleiolagoiosiraiobaphetraganopterygon</a></p>
