/*----------------------------------------*\
  FLOAT
\*----------------------------------------*/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix,
%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
