/*----------------------------------------*\
  IMAGES
\*----------------------------------------*/

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-block {
  width: 100%;
  height: auto;
}
