/*----------------------------------------*\
  RESPONSIVE
\*----------------------------------------*/

/**
 * Images
 */

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-block {
  width: 100%;
  height: auto;
}


/**
 * Display
 */

// Hide

@include foreach-breakpoint() {
  .hidden-#{$breakpoint-name} {
    display: none !important;
  }
}


// Show

// First make all these elements hidden by default
@each $breakpoint in $breakpoints-default {
  $breakpoint-name: nth($breakpoint, 1);

  .visible-#{$breakpoint-name}-block,
  .visible-#{$breakpoint-name}-inline-block,
  .visible-#{$breakpoint-name}-inline {
    display: none !important;
  }
}

// Now allow them to be displayed when the media query matches
@include foreach-breakpoint() {
  .visible-#{$breakpoint-name}-block {
    display: block !important;
  }
  .visible-#{$breakpoint-name}-inline-block {
    display: inline-block !important;
  }
  .visible-#{$breakpoint-name}-inline {
    display: inline !important;
  }
}
